{% extends "base.html" %}
{% block content %}

<style>

          /* --------------------------- home section ---------------------------- */ 

          .formUploading{
            margin-top: 2%;
            /* margin-bottom: 2%; */
        }

                /* ------------------- info part -------------------------- */

        .infoSection{
            display: flex;
            margin-top: 2%;
            justify-content: space-between;
            
        }
        
        .h1{
            font-family: "Merriweather", serif;
            font-weight: 300;
            font-style: normal;
        }
        
        .label-class {
            font-family: "Archivo Sans", sans-serif;
            font-size: large;
            font-weight: 600;
            font-style: normal;
            
            width: 100%;
            margin-left: 2%;
            margin-right: 2%;
            margin-top: 3%;
        }
        
        .input-class {
            margin-left: 12%;
            margin-right: 2%;
            margin-top: 1%;
            width: 80%;
            
            font-family: "Archivo Sans", sans-serif;
            font-size: large;
            font-weight: 300;
            font-style: normal;
        }
        
        
        .image{
            
            float: left;
            display: inline;
            margin-top: 7vh;
            max-width: 40%;
            
            max-height: 100%;
            
            margin-left: 4%;
            /* margin-top: 20%; */
        }
        
        input[type="text"],
        input[type="file"],
        select{
            max-width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        
        .homeInfoSection {
            /* float: left; */
            display: inline;
            
            max-width: 45%;
            
            max-height: 100%;
            height: 75vh;
            
            margin-left: 5%;
            margin-right: 4%;
            padding-bottom: 2%;

            overflow: scroll;
            overflow-y:scroll;
            overflow-x:hidden;
            box-shadow: 5px 5px 5px 5px rgb(213, 217, 218);
        }
                
                /* ------------------- image part -------------------------- */

        .imageContainer {
            /* Adjust width as needed */
            /* max-width: 100%; */
            width: 100%;
            margin-top: 2%;
            /* margin-bottom: 2%; */
        }
        
        .imageList, ul, ol {
            border: 4px solid rgb(0, 0, 0);
            border-radius: 7px;

            display: flex;
            /* display:grid; */
            overflow: scroll;
            margin-top: 2%;
            margin-left: 2%;
            margin-right: 2%;
            /* background-color: rgba(162, 202, 255, 0.786); */
            background-color: rgb(3, 98, 223);
        }

        .imageList>li {
            margin: 20px 20px 25px 20px;
        }

  
</style>

<main>

  <body>

    <div class="formUploading">
      <form action="/csv" method="post" enctype="multipart/form-data">
        
        <h1 class="h1" align="center"> Welcome to automated certificate generator </h1>
        
        <div class="infoSection">
          <div class="image">
            <img src="./static/Images/Home/office_workers2.gif" alt="working" height="100%" width="100%">
          </div>

        <!-- --------------------------------------------------------------------------------------->
          <div class="homeInfoSection">
            <label for="eventName" class="label-class">Enter the event name: </label>
            <input type="text" name="eventName" id="eventName" class="input-class" required>

            <label for="OrgName" class="label-class">Enter the organization name: </label>
            <input type="text" name="OrgName" id="OrgName" class="input-class" required>

            <label for="certificateType" class="label-class">Select certificate type: </label>
            <select name="certificateType" id="certificateType" class="input-class" required>
                <option value="" disabled selected>select type</option>
                <option value="of participation">Certificate of participation</option>
                <option value="of completion">Certificate of completion</option>
                <option value="of appreciation">Certificate of appreciation</option>
                <option value="of recognition">Certificate of recognition</option>
            </select>
            
            <label for="logo" class="label-class">Giver your organization's logo(in .png extension)</label>
            <input type="file" name="logo" id="logo" class="input-class" >
            
            <label for="logo2" class="label-class">Giver your organization's event logo(in .png extension)</label>
            <input type="file" name="logo2" id="logo2" class="input-class" >
            
            <label for="formfile" class="label-class">Enter your csv file </label>
            <input type="file" name="file" id="formfile" class="input-class" multiple="multiple" required>
            

            <label for="Organizer1Desig" class="label-class">Enter the organizer1 designation: </label>
            <input type="text" name="Organizer1Desig" id="Organizer1Desig" class="input-class" required>

            <label for="organizer1" class="label-class">Enter organizer1 sign </label>
            <input type="file" name="organizer1" id="organizer1" class="input-class">


            <label for="Organizer2Desig" class="label-class">Enter the organizer2 designation: </label>
            <input type="text" name="Organizer2Desig" id="Organizer2Desig" class="input-class" required>

            <label for="organizer2" class="label-class">Enter organizer2 sign </label>
            <input type="file" name="organizer2" id="organizer2" class="input-class">

          </div>

        </div>

        
        <div class="imageContainer">
          <h1 class="h1" align="center"> Select the template you want: </h1>
          <ul class="imageList">

            <li class="listImage">
              <input type="radio" id="choice1" name="certificate_choice" value="Choice1">
              <label for="choice1">
                <img src="static/Images/CertificateEssentials/demoCertImg1.png" alt="certificate image" height="290px"
                  width="380px">
              </label>
            </li>

            <li class="listImage">
              <input type="radio" id="choice2" name="certificate_choice" value="Choice2">
              <label for="choice2">
                <img src="static/Images/CertificateEssentials/demoCertImg2.png" alt="certificate image" height="290px"
                  width="380px">
              </label>
            </li>

            <li class="listImage">
              <input type="radio" id="choice3" name="certificate_choice" value="Choice3">
              <label for="choice3">
                <img src="static/Images/CertificateEssentials/demoCertImg3.png" alt="certificate image" height="290px"
                  width="380px">
              </label>
            </li>

            <li class="listImage">
              <input type="radio" id="choice4" name="certificate_choice" value="Choice4">
              <label for="choice4">
                <img src="static/Images/CertificateEssentials/demoCertImg4.png" alt="certificate image" height="290px"
                  width="380px">
              </label>
            </li>

            <!-- <li class="listImage">
              <input type="radio" id="choice5" name="certificate_choice" value="Choice5">
              <label for="choice5">
                <img src="static/Images/CertificateEssentials/demoCertImg2.png" alt="certificate image" height="290px"
                  width="380px">
              </label>
            </li>

            <li class="listImage">
              <input type="radio" id="choice6" name="certificate_choice" value="Choice6">
              <label for="choice6">
                <img src="static/Images/CertificateEssentials/demoCertImg1.png" alt="certificate image" height="290px"
                  width="380px">
              </label>
            </li> -->

          </ul>
        </div>

        <div align="center">
          <button type="submit" class="btn btn-success mt-3" name="action" value="Preview" style="margin-bottom: 20px;">Preview</button>
          <button type="submit" class="btn btn-success mt-3" name="action" value="Generate" style="margin-bottom: 20px;">Generate</button>

        </div>

      </form>
    </div>

  </body>

</main>


{% endblock %}